:root {
  --ifm-color-primary: #b33424;
  --ifm-color-primary-dark: #a12f20;
  --ifm-color-primary-darker: #982d1e;
  --ifm-color-primary-darkest: #7d2519;
  --ifm-color-primary-light: #c53928;
  --ifm-color-primary-lighter: #ce3e2c;
  --ifm-color-primary-lightest: #dc5949;
}
